@model VideoChat.Models.Room

@{
    ViewBag.Title = "Room";
    Layout = "~/Views/Shared/_LayoutPage1_NoMenu.cshtml";
}

<h2>My Room:</h2>
<br>
<h3>Identifier: @Model.identifier</h3>
<h3>Creator Name: @Model.creatorUsername</h3>
<h3>Joiner Name: @Model.joinerUsername</h3>

@Scripts.Render("~/bundles/jquery")

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.4.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/Extensions.js")"></script>
    <script>
        let dc = null;
        $(function () {
            let uname = getCookie('usr');
            var chat = $.connection.chatHub;
            let lc = null;

            chat.client.firstSDP = function (message) {
                lc.setRemoteDescription(JSON.parse(message)).then(a => console.log("offer set!"));
                lc.createAnswer().then(a => lc.setLocalDescription(a)).then(a => console.log("answer created"));

                setTimeout(function () {
                    chat.server.rtr_ThirdStepJoiner(uname, JSON.stringify(lc.localDescription), '@Model.creatorUsername');
                }, 3000);
            };

            chat.client.secondSDP = function (message) {
                lc.setRemoteDescription(JSON.parse(message));
            };


            $.connection.hub.start().done(function () {
                if (uname == '@Model.creatorUsername') {
                    lc = new RTCPeerConnection();
                    dc = lc.createDataChannel("channel");
                    dc.onmessage = e => {
                        console.log("Just got a message: " + e.data);
                    };
                    dc.onopen = e => {
                        console.log("Connection opened");
                    };
                    lc.onicecandidate = e => {
                        //console.log("new ice candidate, reprinting SDP: " + JSON.stringify(lc.localDescription));
                    }
                    lc.createOffer().then(o => lc.setLocalDescription(o)).then(a => console.log("set successfully"));
                    setTimeout(function () {
                        chat.server.rtr_FirstStepInitiator(uname, JSON.stringify(lc.localDescription));
                    }, 2000);
                }
                else {
                    lc = new RTCPeerConnection();
                    lc.onicecandidate = e => {
                        //console.log("new ice candidate, reprinting SDP: " + JSON.stringify(lc.localDescription));
                    }
                    lc.ondatachannel = e => {
                        dc = e.channel;
                        dc.onmessage = e => {
                            console.log("Just got a message: " + e.data);
                        };
                        dc.onopen = e => {
                            console.log("Connection opened");
                        };
                    }

                    chat.server.rtr_SecondStepJoiner(uname, '@Model.creatorUsername');
                }
            });
        });

    </script>
}